blinker==1.9.0
Click==8.3.1
colorclass==2.2.2
Flask==3.1.2
Flask-Admin==2.0.2
Flask-DebugToolbar==0.16.0
Flask-Login==0.6.3
flask-mongoengine-3==1.1.0
Flask-WTF==1.2.2
gunicorn==25.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
markdown2==2.5.4
MarkupSafe==3.0.3
mongoengine==0.29.1
passlib==1.7.4
pendulum==3.2.0
pip-check==3.2.1
Pygments==2.19.2
pymongo==4.15.0
python-dateutil==2.9.0
pytzdata==2020.1
six==1.17.0
terminaltables==3.1.10
Werkzeug==3.1.5
WTForms==3.2.1
